@media(max-width:1366px){
    .buttonsNav{
        width: 140px !important;
    }
}

.btn-primary{
    font-weight: 490;
    border-color: #080c71 !important;
    background-color: #080c71 !important;
    transition:color 1s linear !important;
}

.btn{
    transition:color 1s linear !important;
}

.btn-primary:hover{
    transition: 1s !important;
    color: #000 !important;
    border-color: #67dcff !important;
    background-color: #67dcff !important;
}

.btn:hover{
    transition: 1s !important;
}

.navbar-expand{
    border-bottom-style: solid;
    border-color: #080c71;
}

.nav-item a:hover{
    transition: 1s;
    color: #080c71 !important;
}

.logo{
    max-width: 8rem !important;
}

.navbarChanges{
    justify-content: start !important;
    margin-left: 3% !important;
}

.btn-primary{
    border-radius: 35px !important;
}

.nav-item a{
    color: black;
}

.leftFirstPresentation{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.firstPresentationImage{
    max-width: 20rem;
}

@media(max-width:1900px){
    .firstPresentationText{
        font-size: 3.5rem !important;
    }
}

.thirdPresentationIcon{
    max-width: 11.5rem;
}

.thirdPresentationIcon.margin{
    margin-left: 6.5rem !important;
    margin-right: 6.5rem !important;
}

.thirdPresentationIcon.margin.cerebro{
    margin-left: 9rem !important;
}

.thirdPresentationIcon.margin.pulmon{
    margin-right: 9rem !important;
}

/*------------------------------------*/
@media(max-width:1900px){
    .thirdPresentationIcon.margin{
        margin-left: 6.5rem !important;
        margin-right: 6.5rem !important;
    }
    
    .thirdPresentationIcon.margin.cerebro{
        margin-left: 9rem !important;
    }
    
    .thirdPresentationIcon.margin.pulmon{
        margin-right: 9rem !important;
    }
}

@media(max-width:1366px){
    .thirdPresentationIcon{
        margin-left: 0rem !important;
        margin-right: 0em !important;
    }

    .thirdPresentationIcon.margin{
        margin-left: 0rem !important;
        margin-right: 0em !important;
    }
    
    .thirdPresentationIcon.margin.cerebro{
        margin-left: 0rem !important;
        margin-right: 0em !important;
    }
    
    .thirdPresentationIcon.margin.pulmon{
        margin-left: 0rem !important;
        margin-right: 0em !important;
    }
    
    .thirdPresentationIcon,
    .thirdPresentationIcon.margin,
    .thirdPresentationIcon.margin.cerebro,
    .thirdPresentationIcon.margin.pulmon{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
}

.fourthPresentationImage{
   width: 70rem;
}

.card{
    border: none !important;
}

.float{
	width:48px !important;
	height:48px !important;
	background-color: #EDF0F4 !important;
	color:#9FAFC1 !important;
	border-radius:30px !important;
	text-align: center !important;
    font-size: 32px !important;
}

.float i{
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
}

.footer a{
    text-decoration: none !important;
    color: #6C757D;

    transition:color 1s linear !important;
}

.footerLinks:hover{
    transition: 1s !important;
    color: #2e2e2e !important;
}

.footerIcons a:hover{
    transition: 1s;
    color: #2e2e2e !important;
}

.footerLogo{
    max-width: 10rem !important;
}